.user-info {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.main-sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    overflow-y: auto;
    padding-top: 20px;
}

.sidebar-menu li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: rgb(241, 246, 247);
}

.sidebar-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar-menu a:hover {
    background-color: #ddd;
}

/* Content styles */
.content-area {
    margin-left: 260px;
    padding: 20px;
}

.user-info {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.table th,
.table td {
    text-align: center;
}
